.pagination {
  list-style:none;
  display : flex;
  justify-content :center;
  align-items : center;
  font-size : 1.2rem;
  gap:5px;
}

.pagination .page-num {
  padding : 8px 15px;
  cursor : pointer;
  border-radius:3px;
  font-weight : 400;
}

.pagination .page-num:hover {
  background-color: #5AB1BB;
  color : #fff;
}

.grid {
  display:grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 10px
}

.pagination .active {
  color : green;
}


@media (max-width: 1024px){
  .grid{
    display : flex;
    flex-direction: column;
  }
  .origin{
    width : 100%;
  }
}